service_account_key_file = "key.json"
cloud_id                 = "qwerty123"
folder_id                = "qwerty123"
zone                     = "ru-central1-a"
public_key_path          = "appuser.pub"
private_key_path         = "appuser"
subnet_id                = "qwerty123"
app_disk_image           = "qwerty123"
db_disk_image            = "qwerty123"
