service_account_key_file = "/path/to/yandex_cloud/service_account/key.json"
cloud_id = "your_yandex_cloud_id"
folder_id = "your_yandex_cloud_folder_id"
zone = "your_favorite_yandex_cloud_zone_name"
public_key_path = "/path/to/user.public.key"
private_key_path = "/path/to/user.private.key"
image_id = "you_opearting_system_image_id"
subnet_id = "your_yandex_cloud_subnet_id"
