service_account_key_file = "/path/to/yandex_cloud/service_account/key.json"
cloud_id = "your yandex cloud id"
folder_id = "your yandex cloud folder id"
zone = "your favorite yandex cloud zone name"
public_key_path = "/path/to/user.public.key"
private_key_path = "/path/to/user.private.key"
image_id = "you opearting system image id"
subnet_id = "your yandex cloud subnet id"
